#aboutLogo {
    margin: 10px;
    margin-top: 60px;
    height: 350px;
    width: 400px;
}

#aboutTitle {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    color: #7a56bb;
    font-size: 50px;
    margin: 10px 0px 5px 5px;
}

h4 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: left;
    font-weight: bold;
    color: #7a56bb;
}
.About {
    text-align: left;
    color: #7a56bb;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif; 
    font-weight: lighter;
    background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);
    /* background-image: linear-gradient(to right, #5680E9, #5ab9ea, #7a56bb); */
}

#aboutText {
    color: #8860d0;
    padding: 10px;
}

#under {
    padding: 0px 0px 0px 30px;
}