.eventsCalendar {
    padding: 30px;
    background: linear-gradient(217deg, rgba(124, 214, 214, 1), rgba(170, 191, 244, 1) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(132, 206, 235, 1) 70.71%),
    linear-gradient(336deg, rgba(171, 143, 222, 1), rgba(0,0,255,0) 70.71%);
}

#calendarGoogle {
    float: left;
    border-radius: 15px;
    border: 20px solid #ffffff;
    width: 800px!important; 
    height: 600px;
    margin-left: 30px;
}

#agendaGoogle {
    float: right;
    width: 350px;
    height: 600px;
    border-radius: 15px;
    border: 20px solid #ffffff;
    margin-right: 60px;
}

#contactUs {
    color: #8860d0;
}

/* This is the CSS from the slideshow */
#eventSlideshow {
    width: 600px;
    height: 600px;
    margin: auto; }
  
.react-slideshow-container {
    width: 600px;
    height: 600px;
}

.react-slideshow-zoom-wrapper {
    width: 600px;
    height: 600px;
}

.zoom-wrapper {
    width: 600px;
    height: 600px;
}
