.Application {
    background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);
}

#applicationSection {
    margin-left: 10%;
}

#appTitle {
    float: left;
    color: #8860d0;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 38%;
}

#aboutYou, #references {
    font-family: 'Gloria Hallelujah', cursive;
}

form {
    width: 80%;
    height: 100%;
    color: #8860d0;
}

#cityState {
    /* position: relative; */
    margin-left: 17.2%;
}