.barryPhoto {
    height: 200px;
    width: 200px;
}

.volunteerPhotoFADR {
    height: 200px;
    width: 200px;
}

.volunteerList {
    text-align: left;
}

.VolPage {
    background-color: #aa92d1;
    background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}